* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #0000;
  --very-ligth-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

header {
  height: 100px;  
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;

  
}



header p{
    color: var(--very-ligth-pink);
    font-size: var(--md);
    line-height: 25px;
}

h2{
    color: var(--very-ligth-pink); 
    font-size: var(--lg);
}
body {
  font-family: "El Messiri", sans-serif;
  font-family: "Festive", cursive;
  font-family: "Quicksand", sans-serif;
  background-color: var(--very-ligth-pink);
  margin: 10px;
  color: var(--very-ligth-pink);
}

.cuerpo{
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 10px;
    
    
    place-content: center;

}

.cuerpo div{
    background-color: var(--white);
    border-radius: 10px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:initial;
    padding: 20px;

}

.cuerpo div img{
    width: 50px;
}

.icon{
    width: 100%;
    z-index: 1  ;
}

.fa-triangle{
    color: black;
    font-size: 100px;
}

.primary-button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 50%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 30px;
}